.idea/
venv/
presentation/node_modules/
presentation/.cache/
processing/__pycache__/
physical/__pycache__/
physical/Planning=0.pdf
physical/Planning=1.pdf
physical/Planning=2.pdf
*.pyc
processing/__pycache__/planHumidity.cpython-37.pyc
processing/__pycache__/planLight.cpython-37.pyc
processing/__pycache__/planning.cpython-37.pyc
processing/__pycache__/planRoomTemperatureGradient.cpython-37.pyc
processing/__pycache__/planTeacherIndirectCSP.cpython-37.pyc
physical/__pycache__/simulation.cpython-37.pyc
physical/__pycache__/school.cpython-37.pyc
physical/__pycache__/plotter.cpython-37.pyc
